* {
    padding: 0;
    margin: 0;
  }
  
  .open_option {
    background-color: #fff;
    float: left;
    padding: 10px;
    width: 200px;
    position: relative;
    z-index: 9999;
  }
  
  .open_option:after {
    content: '\25BE';
    position: absolute;
    right: 10px;
    font-size: 25px;
    top: 2px;
  }
  
  div#dropdown {
    float: left;
  }
  
  ul.options {
    position: absolute;
    top: 40px;
    background-color: #fff;
    width: 220px;
    list-style-type: none;
  }
  
  .options li {
    padding: 10px;
  }
  
  .options li.selected {
    cursor: not-allowed;
    color: #ccc;
  }
  
  .options li:not(.selected):hover {
    background-color: dodgerblue;
    color: #fff;
  }
  